{
    "d_token" : "NDcwMjk5ODc1MDYyNDQ4MTQ4.DjWOuA.wanFjl-7POxON53MFdekrcpmCM8",
	"adminID" : "340912807329529868",
    "prefix" : "$",
	"passes" : 1 //can be increased to reduce packetloss at the expense of upload bandwidth, 4-5 should be lossless at the expense of 4-5x upload
}
